:root {
  --background: linear-gradient(
    135deg,
    rgba(249, 250, 251, 1) 0%,
    rgba(240, 243, 246, 1) 100%
  );
  --font: #222;
  --border: #333;
  --screen: rgb(255, 255, 255);
  --calculator: linear-gradient(
    90deg,
    rgba(241, 243, 246, 1) 0%,
    rgba(241, 243, 246, 1) 60%,
    rgba(241, 243, 246, 1) 100%
  );
  --btn: #f1f3f6;
  --btn-hover: rgb(245, 245, 245);
  --btn-active: rgb(243, 243, 243);
  --btn-red: #faa;
  --btn-red-hover: #e99;
  --btn-red-active: #d88;
  --btn-blue: #aaf;
  --btn-blue-hover: #99e;
  --btn-blue-active: #88d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background: rgb(249, 250, 251);
  background: var(--background);
  color: var(--font);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  /* height: 565px; */
  /* border: 2px var(--border) solid; */
  border-radius: 25px;
  padding: 20px;
  background: rgb(241, 243, 246);
  background: var(--calculator);
  box-shadow: 20px 20px 42px -5px #b9c2c9, -10px -10px 15px -5px #ffffff;
}

.screen {
  padding: 10px 20px;
  /* border: 2px var(--border) solid; */
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: var(--screen);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.span-2 {
  grid-column: span 2;
  aspect-ratio: 2 !important;
}

.btn {
  padding: 20px;
  /* border: 2px var(--border) solid; */
  border-radius: 15px;
  background-color: var(--btn);
  font-size: 20px;
  aspect-ratio: 1;
  box-shadow: 10px 10px 40px -10px #b9c2c9, -5px -5px 15px -5px #ffffff;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
  background-color: var(--btn-active);
}

.btn-dark {
  background-color: #121212;
  color: rgba(249, 250, 251, 1);
}
.btn-dark:hover {
  background-color: #3b3b3b;
}
.btn-dark:active {
  background-color: #121212;
}

/* Disables input spinners in calc screen */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: var(--font);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
